.navbar {
  margin-bottom: 0px;
}

.big-padding {
  padding: 30px;
}

.blue-grey {
  background-color: #37474f;
}

.white-text {
  color: white;
}

.white {
  background-color: white;
}

.right-text {
  text-align: right;
}

.floating {
  position: fixed;
  bottom: 2em;
  right: 2em;
  z-index: 100;
}

.red-text {
  color: red;
}

.no-padding {
  padding: 0px;
}

.no-margin {
  margin: 0px;
}

.inline-block {
  display: inline-block;
}

.no-transform {
  text-transform: none;
}

.margin-left {
  margin-left: 60px;
}

.custom-tab .active {
  background-color: #2c28f1;
}

.space-left {
  margin-left: 10px;
}

.search-form {
  background-color: white;
}

.bg-body {
  background-color: #edeff2;
  height: 100vh;
}

.margin-bottom {
  margin-bottom: 7vh;
}

.h-title {
  text-align: center;
}

